<%= form_for ([@society, @event, @event.comments.build]) do |f| %>

  <div class="control-group">
    <%= f.label :comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'text_field' %>

    </div>
    <p>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%#<%= link_to 'Create Comment', society_event_comments_path(@society, @event), :class => 'btn btn-primary' %>
    </p>
  </div>

  <!-- <div class="form-actions">
    
    <%#<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div> -->
<% end %>
