<%#<%= form_for ([@society, @society.events.build]), :html => { :class => 'form-horizontal', :multipart => true} do |f| %>
<%= form_for ([@society, @event]), :html => { :class => 'form-horizontal', :multipart => true} do |f| %>

    <% if @event.errors.any? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :event_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :event_type, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :rows => 5, :class => 'span5' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :date, :order => [:day, :month, :year] %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :time, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :time %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :venue, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :venue %>
    </div>
  </div>
  
  <div class="control-group">
    <%#<%= render :partial => 'image', :collection => @event.event_images %>
    <%= f.fields_for :event_images do |image| %>
      <% if image.object.new_record? %>
        <%= image.label :photo, "Image File" ,:class => 'control-label'%>
        <div class="controls">
          <%= image.file_field :photo %>
        </div>
      <% else %>
        <%= image_tag image.object.photo.url(:thumb) %>
            <%= image.check_box :_destroy %>
      <% end %>
    <% end %>
  </div>

  <div class="control-group">
    <%= f.label :ticket_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ticket_price, :class => 'text_field' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :ticket_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ticket_number, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%#<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
    <%#<%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                society_path, :class => 'btn' %>
  </div>

<% end %>