<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Content</th>
      <th>Image url</th>
      <th>Ticket price</th>
      <th>Ticket number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.type %></td>
        <td><%= event.content %></td>
        <td><%= event.image_url %></td>
        <td><%= event.ticket_price %></td>
        <td><%= event.ticket_number %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Home page', welcome_index_path %>
|
<%= link_to 'New Event', new_event_path %>
