<%= form_for @society, :html => { :class => 'form-horizontal' } do |f| %>

    <% if @society.errors.any? %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <ul>
            <% @society.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <div class="control-group">
    <%= f.label :club_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :club_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :username, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :username, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :admin_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :admin_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :admin_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :admin_phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :admin_email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :admin_email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                societies_path, :class => 'btn' %>
  </div>
<% end %>
